#todoList label{
  width: 80%;
}
#todoList li{
  list-style-type: none;
}
.uncompleted{
background-color: rgb(98, 147, 217);
}
.uncompleted {
  color: #afa7a7;
  text-decoration: line-through;
}
#todoList .btn{
  margin: auto 10px;
  float: right;

}
.unvisable{
  visibility: hidden;
}